
@{
    ViewBag.Title = "LecturaLlenado";
}

<h2>Descargas</h2>

<table class="table info">
    <tr>
        <th>Archivos</th>
    </tr>
    @foreach (var item in ViewData.Model)
    {
        <tr>
            <th>@Html.ActionLink((string)item, "Descargables", new { fileName = item })</th>
        </tr>
    }
</table>

