

<h2>Contactos existentes</h2>

<p class="lead">
    @using (Html.BeginForm("VerificacionUsuario", "Home", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="Ver" class="btn btn-outline-success" />
    }
</p>